.Chat-main
  .Chat-main__group-info
    .group-info
      .group-name
        team A
      .group-menber
        Menber: taro jiro saburo
    .edit-btn
      = link_to "#", class: "underline" do
        Edit
  .Chat-main__message-list
    .messagecontainer
      .messageinfo
        .username
          taro
        .posttime
          2020年7月6日 12時00分
      .message
        おはよおー！
    .messagecontainer
      .messageinfo
        .username
          jiro
        .posttime
          2020年7月6日 11時30分
      .message
        おはよおー！
  .Chat-main__message-form
    .form
      .input-container
        %input{type: "text", placeholder: " type a message",class: "input-text"}
        %label{class: "input-image"}
          = icon('far', 'image')
          %input{type: "file", class: "input-file"}
      %input{type: "submit",class: "submit-btn", value: "Send"}