* {
  box-sizing: border-box;
}

.wrapper{
  height: 100vh;
  display: flex;
    .Side-bar {
      width: 300px;
      &__user-name {
        height: 100px;
        background-color: #253141;
        display: flex;
        justify-content: center;
        align-items: center;
        .top-items {
          height: 20px;
          width: 260px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          &__name{
            color: white;
            font-weight: bold;
            width: 200px;
          }
          &__icons {
            width: 60px;
            text-align: right;
            .icon {
              color: white;
              padding-left: 5px;
            }
          }
        }
      }
      &__group-list {
        height: calc(100vh - 100px);
        background-color: #2f3e51;
        .group {
          display: flex;
          flex-direction: column;
          align-items: center;
          .group-name {
            color: #ffffff;
            font-weight: bold;
            font-size: 15px;
            width: 260px;
            margin-top: 20px;
          }
          .group-text {
            color: white;
            font-weight: bold;
            font-size: 11px;
            width: 260px;
            margin: 5px 0 40px;
          }
        }
      }
    }




    .Chat-main {
      width: calc(100vw - 300px);
      &__group-info {
        height: 100px;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        padding: 0 40px;


        .group-info {
          .group-name {
            color: #333333;
            font-size: 20px;
            margin: 35px 0 15px;
          }
          .group-menber {
            color: #999999;
            font-size: 12px;
          }
        }
        .edit-btn{
          color: #38afe0;
          font-size: 16px;
          height: 40px;
          line-height: 40px;
          width: 72px;
          margin-top: 28px;
          padding: 0 20px;
          border: 1px solid #38afe0;
          .underline{
            text-decoration: none;
          }
        }
      }
      &__message-list {
        height: calc(100vh - 190px);
        background-color: #fafafa;
        padding: 35px 40px 0;
        .messagecontainer {
          padding-bottom:46px;
          .messageinfo {
            margin-bottom: 12px;
            display: flex;
            .username {
              color: #333333;
              font-size: 16px;
              font-weight: bold;
            }
            .posttime {
              color: #999999;
              font-size: 12px;
            }
        }
          .message {
            color: #434A54;
            font-size: 14px;
          }

        }
      }
      &__message-form {
        height: 90px;
        background-color: #d2d2d2;
        padding: 20px 40px;
        .form {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
          .input-container {
            width: 100%;
            display: flex;
            position: relative;
            .input-text {
              background-color: white;
              width: 100%;
              height: 50px;
            }
            .input-image {
              position: absolute;
              top: 10px;
              right: 10px;
              .input-file {
                display: none;
              }
            }
          }
          .submit-btn {
            color: #ffffff;
            font-size: 16px;
            background-color: #38aef0;
            padding: 0 30px;
            line-height: 50px;
            margin-left: 15px;
          }
        }
      }
    }
}
